{
    "env": {
        "node": true,
        "jest": true,
        "browser": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser", // typescript를 linting 할 수 있게 만들어줌
    "extends": [
        "prettier",
        // -----------------
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        // eslint-config-prettier, eslint-plugin-prettier 설정을 적용하기 위한 셋팅. 반드시 마지막 익스텐션 순서로 넣어주어야 한다.
        "plugin:prettier/recommended",
        // -----------------
        "plugin:import/errors",
        "plugin:import/typescript"
    ],
    "plugins": [
        "prettier",
        "react",
        "@typescript-eslint",
        "react-hooks"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 2021,
        "sourceType": "module", // import 사용
        "ecmaFeatures": {
            "jsx": true // jsx 활성화
        }
    },
    "rules": {
        "react/react-in-jsx-scope": "off", // 파일마다 React를 임포트하라고 뜨는 에러 방지를 위해 추가한 룰이다.
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
        ],
        "react/function-component-definition": [2, {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
        }],
        "import/prefer-default-export": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "import/no-cycle": "off",
        "no-plusplus": "off",
        "react/display-name": ["off", { "ignoreTranspilerName": false }],
        "react/no-unused-prop-types": ["off"],
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"], // ? basically meaningless. "import/order"
                "allowSeparatedGroups": true
            }
        ],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "parent", "sibling", "index"],
                "pathGroups": [
                    {
                        "pattern": "react",
                        "group": "external",
                        "position": "before"
                    }
                ],
                "newlines-between": "always",
                "alphabetize": { "order": "asc" }
            }
        ],
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": ["warn"]
    },
    "ignorePatterns": [
        "dist/",
        "node_modules/"
    ]
}